<% provide(:title, "Profile") %>
<h1><%= @user.name %></h1>
<div class="row">
  <aside class="col-md-6">
    <h3>Hosted events</h3>
    <% if @upcoming_events.empty? %>
      <%= render "events/none" %>
    <% else %>
      <div id="accordion">
        <%= render @upcoming_events %>
      </div>
    <% end %>
  </aside>
  <div class="col-md-6">
    <h3>Past events</h3>
    <% if @past_events.empty? %>
      <%= render "events/none" %>
    <% else %>
      <div id="accordion">
        <%= render @past_events %>
      </div>
    <% end %>
  </div>
</div><br>
<h3>Invitations</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">When?</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @user.invitations.each do |invitation| %>
      <% unless invitation.event.past? %>
        <tr>
          <td scope="col">
            <%= link_to invitation.event.title, invitation.event %>
          </td>
          <td scope="col">
            in <%= distance_of_time_in_words(Time.now, invitation.event.date) %>
          </td>
          <td scope="col">
            <%= render partial: "shared/invitation_status", locals: { invitation: invitation } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>