<div class="card">
  <div class="card-header">
    <span class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-<%= event.id %>">
        <%= event.title %>
      </button>
      <% if event.past? %>
        <%= distance_of_time_in_words(Time.now, event.date) %> ago
      <% else %>
        in <%= distance_of_time_in_words(Time.now, event.date) %>
      <% end %>
    </span>
  </div>
  <div id="collapse-<%= event.id %>" class="collapse" data-parent="#accordion">
    <div class="card-body">
      Host: <%= link_to event.host.name, event.host %></br>
      When: <%= event.date %></br>
      Details: <%= link_to "Show", event %>
    </div>
  </div>
</div>

