<% provide(:title, "Event details") %>
<h1><%= @event.title %></h1>
<div class="row">
  <aside class="col-md-3">
    <strong>Host:</strong> <%= @event.host.name %><br>
    <strong>When:</strong> <%= @event.date %><br>
    <strong>Attendees:</strong>
  </aside>
  <div class="col-md-9">
    <%= render "interactions" %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @event.invitations.each do |invitation| %>
      <tr>
        <td scope="col"><%= invitation.attendee.name %></td>
        <td scope="col">
          <% case invitation.status %>
          <% when "pending" %>
            <span class="badge badge-secondary"><%= invitation.status %></span>
          <% when "accepted" %>
            <span class="badge badge-success"><%= invitation.status %></span>
          <% when "declined" %>
            <span class="badge badge-danger"><%= invitation.status %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>