<% provide(:title, "Event details") %>
<h1><%= @event.title %></h1>
<div class="row">
  <aside class="col-md-3">
    <strong>Host:</strong> <%= link_to @event.host.name, @event.host %><br>
    <strong>When:</strong> <%= @event.date %><br><br>
    <strong>Attendees:</strong>
  </aside>
  <div class="col-md-9">
    <%= render "interactions" %>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @event.invitations.each do |invitation| %>
        <tr>
          <td scope="col">
            <%= link_to invitation.attendee.name, invitation.attendee %>
          </td>
          <td scope="col">
            <%= render partial: "shared/invitation_status", locals: { invitation: invitation } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>